@import "../../styles/init";

.ActionList {

  .Action {
    margin-right: $d-duo;
  } 
  
}

.ActionList--segmented {

  .Action {
    border-radius: 0;
    margin-right: 0;
  }

  .Action:not(:first-child) {
    margin-left: -1px !important;
  } 
  
  .Action:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .Action:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}