@import "../../styles/init";

.ButtonGroup {

  .Button {
    margin-right: $d-duo;
  } 
  
}

.ButtonGroup--segmented {

  .Button {
    border-radius: 0;
    margin-right: 0;
  }

  .Button:not(:first-child) {
    margin-left: -1px !important;
  } 
  
  .Button:first-child {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }

  .Button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}